body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* We talked about using  transitions property to animate properties. This technique is suitable for real simple animations,
    but for anything more complex, we have to use the animate property. */

/* Create a bunch of key frames(CSS animates have several frames) with the name - pop, : */
@keyframes pop {
  /* First we have to create the percentage of the time through the animation sequence:  */
  0% {
    /* We define the styles of this frames:  */
    transform: scale(1);
  }

  25% {
    transform: scale(1.3);
  }

  50% {
    transform: rotate(45deg);
    background: tomato;
  }
  100% {
    /* Back to the normal position. */
    transform: rotate(0);
  }
}
/* This is the benefit of creating custom animation, for each key frame, we can specify exactly what styles should be applied
    to an element. */

.box {
  width: 100px;
  height: 100px;
  background: gold;

  /* Here we have so many properties that start with animations */
  animation-name: pop;

  /* Make sure the set the duration, otherwise the animation is not going to run. */
  animation-duration: 4s;

  /* We can wait for one second before starting this animation. */
  animation-delay: 1s;

  /* With this we can specify how many times you wanna run this animation. */
  animation-iteration-count: infinite;

  /* With ease-out, our animation starts quickly and then slows down  */
  animation-timing-function: ease-out;

  /* The default value is normal, which means play this animation from start to the end. */
  /* We can also alternate between the normal and reverse direction, so the values we use  really dependent on what you want to represent. */
  animation-direction: alternate;

  /* animation: pop 4s ease-out 1s ; */
}




/* Reuseable animations: */
/* What if you have another element and you also wanna apply the same animation to this element? */

/* Here we are going to create a new class.
   Then put all of the animation properties into this class.
   Lastly go to index.html and add this classes to the div element. */ 
/* .animation-pop {
 
  animation-name: pop;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-direction: alternate;

} */


/* Go to animate.style. When we find a suitable style, we can copy the link to the head element and add the relate class name
    to our specific element. */