p {
    /* top, right, bottom, left */
    /* As we all know, the last value is for the left padding, if we do not supply this value, the 
       browser will use the right padding. Similarly, if we do not supply the bottom padding, the browser will use the top value.*/
    
       /* padding: 10px 20px 10px 20px */
       /* Vertical padding,  Horizontal padding */
    padding: 10px 20px; 
    border: 5px solid gold;
    
}


p {
    padding: 20px;
    margin: 0;

    /* This time the space between these two elements is 40px */
}

p {
    margin: 20px;
    padding: 0
    
    /* margin collapse: If two elements next to each other, their margin get collapsed into a single margin */
}

/* We use margin property to separate elements, and padding property to add space between border and content
    area of an element
*/