/* .hero .btn  */
.btn {
  /* background: gold; */
  border: 0;
  border-radius: 30px;
  padding: 1rem 2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}


/* How about only change the background color of the side-bar ?*/

/* So here we can remove the background of the .btn and create two new classes. */

.btn-primary {
    background: gold;

}

.btn-secondary {
    background: dodgerblue;
}

