.container {
    display: grid;
    
    /* 3 x 2 */
    /* grid-template-rows: 100px 100px 100px; */
    /* grid-template-rows: repeat(3, 100px); */

    /* grid-template-columns: 100px 100px; */
    /* grid-template-columns: repeat(2, 100px); */

    /* grid-template: repeat(3, 100px) / repeat(2, 100px); */
    grid-template: 100px auto 100px / 30fr 70fr;
     /*fr means a fraction of the available space, so we prefer fractions to percentages when setting sizes on rows and columns.
          */
    border: 3px solid lightgray;
    /* justify-items: center;
    align-items: center;
  */
    
    /* If we set both justify-items and align-items properties to stretch, and move the height and width in the box, each item
        will vertically and horizontally stretch.  */

    
    /* How can we align the grid inside its container?  */
    /* justify-content: center;
    align-content: center; */

    
    /* With these properties above, if we see the word content, it represents the entire grid of entire container, if 
        we see the word items,  that represents individual items in the grid*/

    height: 100vh;

    row-gap: 10px;
    column-gap: 10px;
    /* gap: 10px; */

    grid-template-areas: 
        "header  header"
        "sidebar main"
        /* ".       footer" */
        "footer footer";


    /* And then we can put the first box in the header area */
}

.box {
    /* width: 5rem; */
    /* height: 5rem; */
    background-color: gold;
}


.box-one {
    /* grid-column: 2;  */
    /* The first item moves to the second column, and for the other items, they are automatically placed from top left to the
        bottom right. */

    /* grid-column: 1 / 3; */
    /* 3 represents the line numbers, 3 equals to -1 in this example. */

    /* grid-row: 2; */
    /* We can move this item to the second row. */
    /* grid-row: 2 / 4 */

    grid-area: header;
}


.box-four {
    grid-area: footer;
}



/* Aligning Items: 
    (1): Justify_items: Along the horizontal axis
    (2): align-items: Along the vertical axis
    */

/* Gap: 
    (1): row-gap: 
    (2): column-gap:
    (3): gap*/


/* Placing items:
    (1): grid-row:
    (2): grid-column: 
    (3): grid-area: 
    By setting these properties on an item, we can control where exactly that item should be placed
    */


/* Placing items in named areas:
    (1): grid-template-areas:  we set this on a container to define the areas
    (2): grid-area: as a particular area*/

